@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.headerCss {
  background: linear-gradient(90deg, #C8A1E0 0%, #E2BFD9 50%, #F7EFE5 100%);
}


.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}